.card_items{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
       max-height: 20rem;
        overflow-y: scroll;

}

  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #96b7dd;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-size: 1rem;

  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #0056b3;
    border-color: #96b7dd;
    color: white;
  }
   .actions button:active {
    transform: scale(0.95);
  }
  
  .actions .button--alt {
    color: #96b7dd;
  }
  
  .actions .button {
    background-color: #96b7dd;
    color: white;
  }