.logout{
    position: relative;
    margin-left: auto;
    background-color: #0056b3;
    color:#fff;
    padding: .5rem;
border-radius: 19px;
margin-right: .5rem;
border: #0056b3;
cursor: pointer;
}
.login{
    position: relative;
    margin-left: auto;
}
@media (max-width: 540px) {
    .login {
     margin-right: 1.5rem;

    }
    .logout{
        margin-right: 1.5rem;
    }
    }
    