.button{
display: flex;
justify-content:space-around;
align-items:center;
font:inherit;
font-weight:900;
padding: 1rem 3rem;
border-radius: 15px;
background-color:lemonchiffon;

}
.icon{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: .5rem;
}

.badge{
    margin-left: .5rem;
    border-radius: 10px;
    background-color: maroon;
    font-weight: bolder;
    color: mintcream;
    padding: .7rem;
   
}